<% provide(:title, 'Log In') %>
<p id="notice"><%= notice %></p>
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<h1>Log In</h1>

<%= form_tag sessions_path do %>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <div class="actions"><%= submit_tag "Log In" %></div>
  <% if @failed then %>
  	<p><%= link_to "Forgotten password?", new_password_reset_path %></p>
  <% end %>

<% end %>
