<% if current_user && current_user.role == "admin" then %>

<header><h1>Admin</h1></header>

<table>
  <tr>
    <th>OK?</th>
    <th>ID</th>
    <th>Name</th>
    <th>Source</th>
    <th>Contact</th>
    <th>Date</th>
    <th>Approved?</th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><a href="/comments/<%= comment.id %>/edit" class="btn">EDIT</a></td>
    <td><%= comment.id %></td>
    <td><%= comment.name %></td>
    <td><%= comment.source %></td>
    <td><%= comment.contact %></td>
    <td><%= comment.created_at %></td>
    <td><%= comment.approved %></td>
    <td><%= button_to "DELETE"+comment.id.to_s, comment, :method=>:delete, :class=>:destroy %></td>
  </tr>
  <tr>
    <td><%= comment.comment %></td>
  </tr>
<% end %>

</table>


<% else %>
<% provide(:title, 'What You Said') %>


<header><h1>Commentary</h1></header>

<h1>What you said...</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.name %></td>
    <td><%= comment.comment %></td>
  </tr>
<% end %>
</table>

<% end %>

