<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @comment.name %>
</p>

<p>
  <b>Contact:</b>
  <%= @comment.contact %>
</p>

<p>
  <b>Comment:</b>
  <%= @comment.comment %>
</p>
  <% if @admin then %>
		<p>
		  <b>Approved:</b>
		  <%= @comment.approved %>
		</p>
  <% end %>

<%= link_to 'Edit', edit_comment_path(@comment) %> 
<%= link_to 'Back', comments_path %>
