<%= form_for(@timecard) do |f| %>
  <% if @timecard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@timecard.errors.count, "error") %> prohibited this timecard from being saved:</h2>

      <ul>
      <% @timecard.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :task %><br />
    <%= f.text_field :task, :size => 90 %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :size => '90x10' %>
  </div>
  <div class="field">
    <%= f.label :hours %><br />
    <%= f.text_field :hours %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <% if current_user.role == 'admin' %>
    <div class="field">
      <%= f.label :rate %><br />
      <%= f.text_field :rate %>
    </div>
    <div class="field">
      <%= f.label :approved %><br />
      <%= f.check_box :approved %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
