<h1>Listing timecards</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Task</th>
    <th>Description</th>
    <th>Hours</th>
    <th>Date</th>
    <th>Rate</th>
    <% if current_user.role == 'admin' %>
        <th>Approved</th>
    <% end %>
  </tr>

    <% @timecards.each do |timecard| %>
      <tr>
        <td><%= timecard.name %></td>
        <td><%= timecard.task %></td>
        <td><%= timecard.description %></td>
        <td><%= timecard.hours %></td>
        <td><%= timecard.date %></td>
        <td><%= timecard.rate %></td>
        <% if current_user.role == 'admin' %>
            <td><%= timecard.approved %></td>
            <td><%= link_to 'Show', timecard %></td>
            <td><%= link_to 'Edit', edit_timecard_path(timecard) %></td>
            <td><%= link_to 'Destroy', timecard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
</table>

<br />

<%= link_to 'New Timecard', new_timecard_path %>
