<h1>All Timecards</h1>



<table class="table">
  <thead>
    <th>Date</th>
    <th>Name</th>
    <th>Net</th>
    <th>Hours</th>    
    <th>Rate</th>
    <th>Task</th>
    <th>Description</th>
    <% if current_user.role == 'admin' %>
        <th>Approved</th>
        <th>Email</th>
    <% end %>
  </thead>
<tbody>
<!--
    <% @timecards.each do |timecard| %>
      <tr>
        <td><%= timecard.date.to_s(:simple) %></td>
        <td><%= timecard.name %></td>
        <td><%= timecard.hours * timecard.rate %></td>
        <td><%= timecard.hours %></td>
        <td><%= timecard.rate %></td>
        <td>Task<span><%= timecard.task %></span></td>
        <td>Description<span><%= timecard.description %></span></td>
  
        <% if current_user.role == 'admin' %>
            <td><%= timecard.approved %></td>
            <td><%= timecard.email %></td>
            <td><%= link_to 'Show', timecard %></td>
            <td><%= link_to 'Edit', edit_timecard_path(timecard) %></td>
            <td><%= link_to 'Destroy', timecard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
-->
</tbody>
</table>

<br />
<%= link_to 'Summary', "/timecard/summary" %> |
<%= link_to 'New Timecard', new_timecard_path %>
