<header><h1>Site Map</h1></header>


<ul>
  <li><b>Home</b><%= link_to "Home", '/' %></li>
  <li><b>Information Pages</b></li>
  <ul>
    <li><b>Our Story</b><%= link_to "Story", '/visitors/welcome' %></li>
    <li><b>How It Works</b><%= link_to "Works", '/visitors/how_it_works' %></li>
    <li><b>FAQ</b><%= link_to "FAQ", '#' %></li>
    <li><b>Terms Of Service</b><%= link_to "Terms", '#' %></li>
    <li><b>Help Wanted</b><%= link_to "Help", '/visitors/help_wanted' %></li>
  </ul>
</ul>
<ul>
  <li><b>Client Pages</b></li>
  <ul>
    <li><b>Hire Us</b><%= link_to "Hire", '/hire' %></li>
    <li><b>What We Offer</b><%= link_to "Offerings", '/visitors/how_it_works' %></li>
    <li><b>FAQ</b><%= link_to "FAQ: Clients", '#' %></li>
    <li><b>Terms Of Service</b><%= link_to "Terms", '#' %></li>
    <li><b>Why Us</b><%= link_to "Advantages", '#' %></li>
  </ul>
</ul>
<ul>
  <li><b>Newby Pages</b></li>
  <ul>
    <li><b>Join Us</b><%= link_to "Join", '/join' %></li>
    <li><b>How It Works</b><%= link_to "Works", '/visitors/how_it_works' %></li>
    <li><b>FAQ</b><%= link_to "FAQ: Newbies", '#' %></li>
    <li><b>Terms Of Service</b><%= link_to "Terms", '#' %></li>
    <li><b>Help Wanted</b><%= link_to "Help", '/visitors/help_wanted' %></li>
  </ul>
</ul>
<ul>
  <li><b>Master Pages</b></li>
  <ul>
    <li><b>Join Us</b><%= link_to "Join", '/join' %></li>
    <li><b>How It Works</b><%= link_to "Works", '/visitors/how_it_works' %></li>
    <li><b>FAQ</b><%= link_to "FAQ: Masters", '#' %></li>
    <li><b>Terms Of Service</b><%= link_to "Terms", '#' %></li>
    <li><b>Help Wanted</b><%= link_to "Help", '/visitors/help_wanted' %></li>
  </ul>
</ul>


