<h1>Listing jobs</h1>

<table>
  <tr>
    <th>Client name</th>
    <th>Client email</th>
    <th>Description</th>
    <th>Initial date</th>
    <th>Task list complete</th>
    <th>Proposal date</th>
    <th>Proposer</th>
    <th>Acceptance date</th>
    <th>Proposal amount</th>
    <th>Responsible partner</th>
    <th>Master</th>
    <th>Status</th>
    <th>Percent complete</th>
    <th>Member</th>
    <th>Completion date</th>
    <th>Contract amount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jobs.each do |job| %>
  <tr>
    <td><%= job.client_name %></td>
    <td><%= job.client_email %></td>
    <td><%= job.description %></td>
    <td><%= job.initial_date %></td>
    <td><%= job.task_list_complete %></td>
    <td><%= job.proposal_date %></td>
    <td><%= job.proposer %></td>
    <td><%= job.acceptance_date %></td>
    <td><%= job.proposal_amount %></td>
    <td><%= job.responsible_partner %></td>
    <td><%= job.master %></td>
    <td><%= job.status %></td>
    <td><%= job.percent_complete %></td>
    <td><%= job.member %></td>
    <td><%= job.completion_date %></td>
    <td><%= job.contract_amount %></td>
    <% if current_user.role == 'admin' %>    
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Job', new_job_path %>
