<h1>Listing jobs</h1>

<table>
  <tr>

    <th>Client Name&nbsp;&nbsp;&nbsp;</th>
    <th>Job Name&nbsp;&nbsp;&nbsp;</th>
    <th>Contract Amount&nbsp;&nbsp;&nbsp;</th>
    <th>Responsible Partner&nbsp;&nbsp;&nbsp;</th>
    <th>Percent Complete&nbsp;&nbsp;&nbsp;</th>
    <th>Completion Date&nbsp;&nbsp;&nbsp;</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jobs.each do |job| %>
  <tr>
    <td><%= job.client_name %></td>
    <td><%= job.job_name %></td>
    <td><%= job.contract_amount %></td>
    <td><%= job.responsible_partner %></td>
    <td><%= job.percent_complete %></td>
    <td><%= job.completion_date %></td>

    <% if current_user then %>

        <% if current_user.role == 'admin' || current_user.role == 'master' || current_user.role == 'partner'%>    
            <td><%= link_to ' Show ', job %></td>
        <% end %>
        <% if current_user.role == 'admin' || current_user.role == 'partner'%>
            <td><%= link_to ' Edit ', edit_job_path(job) %></td>
        <% end %>
        <% if current_user.name == job.client_name %>
            <td><%= link_to ' Show ', job %></td>
        <% end %>

    <% end -%>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Job', new_job_path %>
