<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this information from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Name (required):" %><br />
    <%= f.text_field :name %>
  </div>  
  <div class="Email (required):">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>

<% if @update_password then %>
  <div class="field">
    <%= f.label "Password (required):"%><br />
    <%= f.password_field :password %>    
  </div>
  <div class="field">
    <%= f.label "Confirm Password" %><br />
    <%= f.password_field :password_confirmation %>    
  </div>
<% end %>

<% if @admin then %>
  <div class="field">
    <%= f.label :role %><br />
    <%= f.text_field :role %>
  </div>
  <div class="field">
    <%= f.label :approval %><br />
    <%= f.check_box :approval %>
  </div>
<% else %>
  <div><p><%= @note %></p></div>
  <%=f.hidden_field :approval, :value => :false %>
  <%=f.hidden_field :role, :value => 'member' %>
<% end %>


  <div class="actions">
    <%= f.submit @button_label %>
  </div>
<% end %>
