<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this information from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<p id="notice"><%= notice %></p>
<br>
<br>
<div class="row-fluid">
  <div class="span6 center">
    <div class = "leftside control-group">

      <div class="controls">
        <p><%= f.label "Name (required):" %>
        <%= f.text_field :name, 
            :value => (current_user ? current_user.name : "") %></p>
      </div>

      <div class="controls">
        <p><%= f.label "Email (required):" %>
        <%= f.text_field :email %></p>
      </div>
 
      <% if @update_password then %>
        <div class="controls">
          <p><%= f.label "Password (required):"%>
          <%= f.password_field :password %></p>    
        </div>
        <div class="controls">
          <p><%= f.label "Confirm Password" %>
          <%= f.password_field :password_confirmation %></p>    
        </div>
      <% end %>

      <% if @admin then %>
        <div class="field">
          <%= f.label :role %><br />
          <%= f.text_field :role %>
        </div>
        <div class="field">
          <%= f.label :approval %><br />
          <%= f.check_box :approval %>
        </div>
      <% else %>
        <div>
          <p><%= @note %></p>
        </div>
        <%=f.hidden_field :approval, :value => :false %>
        <%=f.hidden_field :role, :value => 'member' %>
      <% end %>

      <div class="actions">
        <%= f.submit @button_label %>
      </div>
    </div>
  </div>

  <div class="span6 center">
    <h3>Tell Us About Your Skilz!</h3>
    <table class="table">
      
      <% [:PHP, :Ruby_on_rails, :Javascript, :HTML,:CSS, :Flash, 
          :jquery, :MySQL, :Postgresql, :GitHub, :WordPress, 
          :Graphics, :Video, :Audio, :Adobe_photoshop, 
          :Gimp, :SEO, :SEM].each do |skill| %>
      <tr>
      <td><%= f.label skill %></td>
      <td><%= f.radio_button skill, '0' %> NONE</td>
      <td><%= f.radio_button skill, '1' %> SOME</td>
      <td><%= f.radio_button skill, '2' %> LOTS</td>
      <td><%= f.radio_button skill, '3' %> TONS</td>
      </tr>
    
      <% end %>
    </table>
  </div>
</div>

<% end %>