<h1>Listing users</h1>

<table id="table">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Role</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.role %></td>
    <% if current_user.role == 'admin' %>
      <td><%= link_to 'Show', user %></td>
      &nbsp
      <td><%= link_to 'Edit', edit_user_path(user), :id => 'edit' + user.id.to_s %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= 
link_to 'New User', new_user_path %>

<br />
<%= link_to 'Admin Page', admin_path %>
