<div class="navigation">
  <div class="nav pull-left">

        <%= link_to "Join Us!", '/join' %>
        <%= link_to "Home", '/' %>
        <%= link_to "How It Works", '/visitors/how_it_works' %>
        <%= link_to "Our Story", '/visitors/welcome' %>
        <%= link_to "Comments", "/comments" %>

        <% if signed_in? %> 
          <%= link_to "Sign Out", signout_path, method: "delete" %> 
        <% else %> 
          <%= link_to "Sign In", '/login' %>
        <% end %>

        <% if current_user && current_user.role == 'admin' %>
          <%= link_to "Admin Page", "/admin" %>
          <%= link_to "Time Card", "/timecard" %>
        <% end %>

        <% if current_user && current_user.role == 'partner'%>
          <%= link_to "Time Card", "/timecard" %>
        <% end %>

        <%= link_to "Hire Us!", '/hire' %>    
  </div><!--end nav pull-left-->
    <div class="pull-right">
       Z Project - Deployment 0.0.66
<!--change to read just deployment in app, newbs project in visitors section-->
    </div><!--end nav pull-right-->
</div><!--end navigation-->
<div class="img-wrap">
<img src="/assets/GWDLogo2.png" alt="" /> 
</div>