<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf8">
		<title>Noobies!</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
        <script src="/vendor/assets/javascripts/modernizr.js" type="text/javascript"></script>.  
	</head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <a href="/join" class="nav btn btn-primary">Join Us!</a>
        <ul class="nav">

          <% unless @current_controller + @current_action == "visitorshome" %>
            <li><%= link_to "Home", '/' %></li>
          <% end %>
          <% unless @current_controller + @current_action == "visitorshow_it_works" %>
            <li><%= link_to "How It Works", '/visitors/how_it_works' %></li>
          <% end %>
          <% unless @current_controller + @current_action == "" %>
            <li><%= link_to "Sign In", '#' %></li>
          <% end %>
          <% unless @current_controller + @current_action == "visitorshelp_wanted" %>
            <li><%= link_to "Help Wanted", '/visitors/help_wanted' %></li>
          <% end %>
          <% unless @current_controller + @current_action == "visitorswelcome" %>
            <li><%= link_to "Our Story", '/visitors/welcome' %></li>
          <% end %>
          <% unless @current_controller + @current_action == "commentsindex" %>
            <li><%= link_to "Comments", "/comments" %></li>
          <% end %>

        </ul>

        <a href="/hire" class="nav pull-right btn btn-primary">Hire Us!</a>
        <ul class="nav pull-right">
          <li><a href="#">Deployment 0.0.26</a></li>
        </ul>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div class="sidebox">
            Cool Image Here
          </div>
          <div class="sidebox">
            <p>Links Here</p>
          </div>
          <div class="sidebox">
            <img id="newby" alt="Noo Power!" src="/assets/bkg.jpg">
          <p><small>Image taken from http://hdwallpaperpics.com/picture/stock-photo/abstract. Let me know if you find something more appropriate. Thanks!</small></p>
          </div>
        </div>
        <div class="span10">
          <div class="hero-unit myhero center">
            <h1>The Newbs Project</h1>
            <p>The Company of and for Blossoming Professionals</p>
          </div>
          <div id="main">
            <%= yield %>
          </div>
        </div>
      </div>
      <div class="row-fluid footer center">
        <p>If you have a comment or suggestion, please share it! <a href="/comments/new" id="footer-link">Click Here</a></p>
        <p>(If appropriate I'll respond or post it on the commentary page.)</p>
      </div>
    </div>
	</body>
</html>


