<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/head' %> 
    <%= stylesheet_link_tag "front", media: "all" %>
  </head>

  <body>
    <%= render 'layouts/nav' %>




    <div class="content">

      <div class="header">

        <div class="headerleft">
          <%= yield :headerleft %>
        </div><!--end headerleft-->
        <div class="headerright">
          <%= yield :headerright %>
        </div><!--end headerright-->
        
      </div><!--end header-->

      <div class="logo">
        <img src="/assets/GWDLogo2.png" alt="logo" width="1524" height="75" />
      </div>

<div class="bottomhalf">

      <div class="leftside">
        <div class="box">
          <%= yield :leftside %>
        </div><!--end box-->
        <a href="#" class="blue button">Learn About Code Quality</a>
      </div><!--end leftside-->

      <div class="leftover">
        <div class="centercolumn">
          <div class="box">
            <%= yield :centercolumn %>
          </div><!--end box-->
          <a href="#" class="blue button">Learn How It Works</a>
        </div><!--end centercolumn-->

        <div class="rightside">
          <div class="box">
            <%= yield :rightside %>
          </div><!--end box-->
          <a href="#" class="blue button">Let Us Make You A Proposal</a>
        </div><!--end rightside-->
      </div><!--end leftover-->
      
</div><!--end bottomhalf-->

    <div class="footer">
      <%= yield :footer %>
    </div><!--end footer-->

  </body>
</html>



