<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/head' %> 
    <%= stylesheet_link_tag "front", media: "all" %>
  </head>
  <body>
    <%= render 'layouts/nav' %>
    <div class="container-fluid">
      <div class="row-fluid outer">
          <div class="row-fluid">
            <div class="span4 figure">
              <p id="notice"><%= notice %></p>
              <p><img src="../assets/GWDLogo2.png" alt="" /> </p>
            </div><!--/span-->
            <div class="span4 noshow">     
              <p></p><p></p>
            </div><!--/span-->
            <div class="span4 padr">
              <%= yield :headerright %>
            </div><!--/span-->
          </div><!--/row1-->

          <div class="hero-unit noshow">
            <h1></h1>
          </div><!--/hero-->
          <div class="hero-unit skinny">
            <p>With just a couple more of the right people Group Web Design will be ready to launch.
            <a href="/join" class="btn btn-primary btn-large">Join Us</a></p>
          </div><!--/hero-->
          <div class="hero-unit noshow">
            <p></p>
          </div><!--/heros123row234-->

          <div class="row-fluid low">
            <div class="span4">
              <%= yield :leftside %>
            </div><!--/span-->
            <div class="span4"> 
              <%= yield :centercolumn %>
            </div><!--/span-->
            <div class="span4">
              <%= yield :rightside %>
            </div><!--/span-->
          </div><!--/row5-->
      </div><!--/outer row fluid-->

    <div class="footer">
          <%= yield :footer %>
    </div><!--end footer-->
    </div><!--/.fluid-container-->
  </body>
</html>



